{% load static %}
<div class="card" style="width: 20rem;">
  {% if instance.image %}
    <a href="{% url 'prod:products-detail' instance.pk %}"><img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.name }} logo"></a>
  {% else %}
    <a href="{% url 'prod:products-detail' instance.pk %}"><img class="card-img-top" src="{% static 'img/imballotech.png' %}" style="object-fit: contain;" alt="Immagine non disponibile"></a>
  {% endif %}
  <div class="card-body">
    <h4 class="card-title">{{ instance.name }}</h4>
    <p class="card-text">{{ instance.categoria.nome }}</p>
    <p class="card-text">{{ instance.tipo_materiale }} - {{ instance.dimensione }}</p>
    <p class="card-text"><strong>{{ instance.price }}€</strong></p>
    
    <div class='text-center'>
        <a href="{% url 'prod:products-detail' instance.pk %}" class="btn btn-primary my-2">View</a>
        {% include 'products/snippets/update-cart.html' with product=instance cart=cart %}
    </div>
   <!--  <a href="{% url 'products:detail' slug=instance.slug  %}" class="btn btn-warning">URL shortcut</a> -->
  </div>
</div>
