
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Benvenuti su ImballoTech</h1>
    <br>
    <h5>ImballoTech offre prodotti usa e getta per varie attività </h5>
    <h5> </h5>
    <h5>Trova il prodotto che ti interessa!</h5>
    <br>
    {% if user.is_authenticated %}
        <h3>Bentornato <strong>{{ user.username }}!</strong></h3>
    {% else %}
        <h3>Benvenuto!</h3>
    {% endif %}

    <br>
    {% include 'products/snippets/suggested_carousel.html' with carousel_id='homeSuggestedCarousel' %}
    <div class="home-image-wrap">
        <img
            class="home-image"
            src="{% static 'img/imballotech.png' %}"
            width="1254"
            height="1254"
            alt="ImballoTech"
            loading="lazy"
            decoding="async"
        />
    </div>
{% endblock %}
